/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif; /* Nueva fuente */
  margin: 0;
  padding: 0;
  background-color: #eaeaea; /* Fondo gris claro */
  color: #003366; /* Texto en azul */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Botón R para acceder a resultados */
#results-button {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
}

#results-button button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #007bff; /* Azul brillante */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#results-button button:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

/* Contenedor principal del juego */
#game {
  text-align: center;
}

/* Palabra centrada y grande */
#word {
  font-size: 72px;
  font-weight: bold;
  margin: 20px 0;
  color: #003366; /* Azul */
}

/* Contador de palabras */
#counter {
  font-size: 20px;
  margin: 10px 0;
}

/* Temporizador */
#timer {
  font-size: 20px;
  margin: 10px 0;
}

/* Botones del juego */
button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #28a745; /* Verde */
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #218838; /* Verde más oscuro */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Resultado del juego */
#result {
  font-size: 20px;
  margin: 20px 0;
  color: #003366; /* Azul */
}

/* Nivel de dificultad */
#level-selection {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

#level-selection button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ccc; /* Gris claro por defecto */
  color: #003366; /* Azul texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#level-selection button:hover {
  background-color: #bbb; /* Gris más oscuro al pasar el ratón */
}

#level-selection button.active {
  background-color: #ffa500; /* Naranja al estar seleccionado */
  color: white; /* Texto en blanco */
}

#level-selection button.active:hover {
  background-color: #e59400; /* Naranja más oscuro */
}
